.thumbnail {
    padding: 0px;
}

.panel {
    position: relative;
    display: block;
}

.panel-body {
    padding: 15px;
    text-indent: 10%;
}

.panel > .panel-heading:after, .panel > .panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel > .panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel > .panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}

.col-sm-5 {
    display: block;
    float: left;
}

#comment-input{

}